@model List<ResultCommentDto>

<ul class="comment-list">

    @foreach(var item in Model)
    {
        <li class="comment">
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</div>
                <p>@item.Content</p>            
            </div>
        </li>
    }

</ul>