@model UpdateBannerDto


@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Banner Bilgisi Güncelle</h4>
                        <p class="card-subtitle mb-4">Banner alanı güncellemesini aşağıdaki panelden yapabilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="BannerID"/>
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Title" placeholder="Başlığı Giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklamayı Giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoURL">Video URL</label>
                                <input type="text" class="form-control" id="exampleInputVideoURL" asp-for="VideoUrl" placeholder="Video'nun Youtube Embed adresini Giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Video Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoDescription" placeholder="Video açıklamasını giriniz.">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Banner Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



