@model UpdateAboutDto


@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Hakkımızda Bilgisi Güncelle</h4>
                        <p class="card-subtitle mb-4">Hakkımızda alanını aşağıdaki panelden güncelleyebilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="AboudID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Başlığı Giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklamayı Giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageURL">Image URL</label>
                                <input type="text" class="form-control" id="exampleInputImageURL" asp-for="ImageUrl" placeholder="Image'ın URL Bilgisini Giriniz.'">
                            </div>

                            <button type="submit" class="btn btn-success waves-effect waves-light">Hakkımızda Bilgisi Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


